.c-animation {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .c-animation__leaftop {
        transform: translate(11%, 0);
    }

    .c-animation__leafright {
        transform: translate(11%, 0);
    }

    .c-animation__drop1 {
        transform: translate(11%, 0);
    }

    .c-animation__drop2 {
        transform: translate(11%, 0);
    }

    .c-animation__drop3 {
        transform: translate(11%, 0);
    }

    .c-animation__drop4 {
        transform: translate(11%, 0);
    }

    .c-animation__drop5 {
        transform: translate(11%, 0);
    }

    .c-animation__drop6 {
        transform: translate(11%, 0);
    }

}
