.c-banner {
    padding-top: 100px;
    padding-right: 30px;
    padding-left: 30px;
    @include sp {
        position: relative;
    }

    .c-banner__iconmenu {
        position: absolute;
        top: 0;
        left: 0;
    }

    .c-banner__imgtext {
        position: relative;
    }

    .c-banner_img {
        object-fit: cover;
        height: 480px;
        border-radius: 63px;
        @include sp {
            width: 100%;
            height: 100%;
        }
    }

    .c-banner__content {
        width: 300px;
        position: absolute;
        top: 100px;
        left: 200px;
        @include sp {
            margin: 0 auto;
            left: 0;
            right: 0;
        }
    }

    .c-banner__heading {
        margin-left: 22px;
        margin-bottom: 14px;
    }

    .c-banner__linebreak {
        background-color: #000;
        width: 60px;
        height: 2px;
        border: none;
        margin-left: 99px;
    }

    .c-banner__product--en {
        font-size: 1.6rem;
        line-height: 2.5;
        margin-top: 10px;
        margin-left: 64px;
        letter-spacing: 1.5px;
    }

    .c-banner__slogan {
        font-size: 1.6rem;
        margin-top: 20px;
        margin-left: -27px;
        letter-spacing: 1.6px;
    }

    .c-banner__slogan2 {
        font-size: 3rem;
        margin-left: 32px;
        margin-top: 1px;
    }

    .c-banner__label {
        font-size: 2.4rem;
        padding: 9px 28px 10px 40px;
        background: #25a989;
        border-radius: 27.5px;
        display: inline-block;
        margin-top: 20px;
        margin-left: -20px;
        letter-spacing: 5.8px;

        &:hover {
            @include hover-effect;
        }
    }
}

.c-banner__leaftop {
    top: 0;
    left: 35.8%;
    z-index: 10;
}

.c-banner__leafright {
    top: 52.4%;
    right: 0;
    z-index: 10;
}

.c-banner__drops {
    width: 100%;
    height: 480px;
    position: absolute;
    top: 130px;
    left: 0;
    pointer-events: none;
}

.c-banner__drop1 {
    left: 16.3%;
    top: 66.6%;
}

.c-banner__drop2 {
    left: 29.2%;
    top: 89.6%;
}

.c-banner__drop3 {
    left: 70.8%;
    top: 87.1%;
}

.c-banner__drop4 {
    top: -3.9%;
    right: 13.5%;
}

.c-banner__drop5 {
    left: 57.2%;
    top: -14.2%;
}

.c-banner__drop6 {
    left: 28.5%;
    top: -8.9%;
}
