.c-qa {
    padding: 76px 30px 53px;

    .c-qa__heading {
        font-size: 3.6rem;
        text-align: center;
    }

    .c-qa__list {
        margin-top: -3px;
        margin-left: 0;
    }

    .c-qa__questionanswer {
        margin-top: 46px;
    }

    .c-qa__question {
        display: grid;
        grid-template-columns: 59px 1fr;
        align-items: center;
    }

    .c-qa__questioncontent {
        margin-left: 15px;
        letter-spacing: 1.4px;
    }

    .c-qa__answer {
        margin-top: 6px;
        letter-spacing: 1.4px;
    }
}
