.c-qa {
    margin-top: 100px;

    .c-qa__content {
        padding: 0 130px;
    }

    .c-qa__heading {
        font-size: 3.6rem;
        text-align: center;
    }

    .c-qa__list {
        margin-top: 100px;
    }

    .c-qa__questionanswer {
        margin-top: 30px;
    }
    
    .c-qa__question {
        display: grid;
        grid-template-columns: 59px 1fr;
        align-items: center;
    }

    .c-qa__answer {
        margin-top: 10px;
    }
}

