///*------------------------------------------------------------
//Anchor position
//------------------------------------------------------------*/
//.u-anchor:before {
//	content:"";
//	margin-top: -100px;
//	padding-top: 100px;
//}

//------------------------------------------------------------
// margin
//------------------------------------------------------------

//------------------------------------------------------------
// color
//------------------------------------------------------------
.u-black333text {
    color: #333;
}

.u-greentext {
    color: #176b6a;
}

.u-whitetext {
    color: #fff;
}

//------------------------------------------------------------
// position
//------------------------------------------------------------
.u-absolute {
    // position: absolute;
}
