/* Header
------------------------------------------------------------*/
.c-header {
    position: fixed;
    z-index: 10;
    margin-top: 66px;

    .c-header__navitem {
        margin-bottom: 15px;
    }

    .c-header__navlink {
        display: flex;
        background: url(./assets/img/header/header_background.png);
        width: 198px;
        height: 40px;
        align-items: center;
    }

    .c-header__navtext {
        margin-left: 21px;
        letter-spacing: 3.5px;
    }

}
/* Main menu
------------------------------------------------------------*/
