/* layout
------------------------------------------------------------*/
body {
    font-family: $main-fonts;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    @include sp {
        min-width: 320px;
    }
    
    

    letter-spacing: 3px;
    background: repeat url(./assets/img/mainbg.jpg);

    .p-home {
        padding: 30px 30px 0;

        .p-home__content {
            background-color: #fff;
        }
    }

    .l-container {
        margin-right: auto;
        margin-left: auto;
        max-width: 1120px;
        width: 90%;
    }

    .c-footer__contact {
        margin-top: 15px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .c-footer__logo {
        margin-left: auto;
        margin-top: auto;
    }
}


