<%- include('_layouts/layout', { title: 'Home page' }); -%>

<!-- @meta -->
<meta name="description" content="Home page" />
<!-- @@meta -->

<!-- @content -->
<main class="p-home">  
  <div class="p-home__content">
      <!-- BANNER -->
      <!-- *********************************** -->
      <%- include('_partials/banner'); -%>

      <!-- ANIMATION -->
      <!-- *********************************** -->
      <%- include('_partials/animation'); -%>

      <!-- DAILY USE -->
      <!-- *********************************** -->  
      <%- include('_partials/daily_use'); -%>
      
      <!-- INFO -->
      <!-- *********************************** -->  
      <%- include('_partials/info'); -%>

      <!-- Q&A -->
      <!-- *********************************** -->  
      <%- include('_partials/qa'); -%>

      <!-- COLUMN -->
      <!-- *********************************** -->  
      <%- include('_partials/column'); -%>
  </div>
</main>
<!-- @@content -->

<!-- @script -->
<script></script>
<!-- @@script -->
