<section class="c-banner l-container">
    <img class="c-banner_img" src="./assets/img/daily/daily_bg.jpg" alt="ハッカ油" />
    <div class="c-banner__content">
      <h1>
        <img src="./assets/img/banner/banner_h1.png" alt="健栄製薬の ハッカ油">
      </h1>
      <hr class="c-banner__linebreak">
      <p class="c-banner__product--en">MENTHA OIL</p>
      <p class="c-banner__slogan">ハッカ油は、毎日の暮らしを豊かにする</p>
      <p class="c-banner__slogan2">魔法のしずく</p>
      <label class="c-banner__label u-whitetext">ハッカ？ミント？</label>
    </div>
    
  </section>