<footer class="c-footer">
  <div class="c-footer__content">
    <div class="l-container">
      <img src="./assets/img/footer/footer_background.jpg" alt="さわやかハッカ油で虫除け対策のイメージ写真">
      <div class="c-footer__contact">
        <div>
          <p>商品に関するお問い合わせは
          </p>
          <p>健栄製薬株式会社</p>
          <p>TEL |｜06-6231-5626　受付時間 |｜8:45〜17:30(土日祝日を除く)</p>
        </div>
        <div class="c-footer__logo">
          <img src="./assets/img/footer/footer_logo.png" alt="©KENEI Pharmaceutical">
          <p>©KENEI Pharmaceutical</p>
        </div>
    </div>
    </div>
  </div>
</footer>
