<header class="c-header pc-only">
  <nav class="c-header__nav">
    <ul>
      <% if (typeof linklists != 'undefined') { %> <% linklists.main &&
      linklists.main.forEach(link => { %>
      <li class="c-header__navitem">
        <a class="c-header__navlink u-whitetext" href="<%= link.url %>">
          <span class="c-header__navtext"><%= link.title %></span>
        </a>
      </li>
      <% }) %> <% } %>
    </ul>
  </nav>
</header>
