<!-- <header class="c-header">
  <nav class="c-gnav">
    <ul>
      <% if (typeof linklists != 'undefined') { %>
        <% linklists.main && linklists.main.forEach(link => { %>
          <li>
            <a href="<%= link.url %>"><%= link.title %></a>
          </li>
        <% }) %>
      <% } %>
    </ul>
  </nav>
</header> -->
